<div>
  <form action="/answer" data-turbo="false" method="get" class="input-group mb-3">
    <label for="questionInput" class="form-label">Ask your coach anything:</label>
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control">
      <span><input type="submit" value="Ask!" class="btn btn-primary"></span>
    </div>
  </form>
</div>
